<div id="content">
<div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div> 
<script type="text/javascript"> 
$(function () { 
	$('#container').highcharts({ 
		chart: { 
			plotBackgroundColor: null, 
			plotBorderWidth: null, 
			plotShadow: false 
			}, 
		title: { 
			text: '忠誠顧客性別分布' 
		}, 
		tooltip: { 
			pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>' 
			},
			plotOptions: { 
			 	pie: { allowPointSelect: true,
			 	       cursor: 'pointer', 
			 	       dataLabels: { 
			 	       	enabled: true, 
			 	        format: '<b>{point.name}</b>: {point.percentage:.1f} %', 
			 	        style: {
			 	         color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black' 
			 	         } 
			 	         } 
			 	         } 
			 	         }, 
			 	         series: [{ 
			 	         	type: 'pie', 
			 	         	name: 'Browser share',
			 	         	data: <%=@data.to_json.html_safe%> 
			 	         	}] 
			 	         	}); 
	});
	 </script>



<div id="container1" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div> 
<script type="text/javascript"> 
$(function () { 
	$('#container1').highcharts({ 
		chart: { 
			plotBackgroundColor: null, 
			plotBorderWidth: null, 
			plotShadow: false 
			}, 
		title: { 
			text: '一般顧客性別分布' 
		}, 
		tooltip: { 
			pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>' 
			},
			plotOptions: { 
			 	pie: { allowPointSelect: true,
			 	       cursor: 'pointer', 
			 	       dataLabels: { 
			 	       	enabled: true, 
			 	        format: '<b>{point.name}</b>: {point.percentage:.1f} %', 
			 	        style: {
			 	         color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black' 
			 	         } 
			 	         } 
			 	         } 
			 	         }, 
			 	         series: [{ 
			 	         	type: 'pie', 
			 	         	name: 'Browser share',
			 	         	data: <%=@data1.to_json.html_safe%> 
			 	         	}] 
			 	         	}); 
	});
	 </script>
</div>
	 <%= link_to "back", root_path %>
	 <div id="footer"> 版權所有 © 可樂旅遊</div>