

<a  href="http://www.colatour.com.tw/" class="class1"><div >回首頁</div></a>
</br>
<br>
</div>




</br>
    <div style="font-weight:bold;font-size:10px;"><%= link_to "test", test_path %></div>
</div>
<div id="footer"> 版權所有 © 可樂旅遊</div>

 <%=Time.now %>